beautifulsoup4==4.5.1
ntplib==0.3.3
python-dateutil==2.5.3
requests==2.20.0
pyperclip==1.5.27
flask==0.11
python-json-logger==0.1.5
https://github.com/pyinstaller/pyinstaller/archive/develop.zip
version_parser==1.0.0
werkzeug<1.0
flask_cors>=3.0.0