{% extends "layout.html" %}
{% block title %}Add Attacks{% endblock %}
{% block header %}
<script type="text/javascript">
  function addRow() {
    var outer_table = $("#outer_table");
    var counter = $(".row").length;
    var options_container = $("<td>").attr("class", "options_container");
    var row = $("<tr>").attr("id", "row_" + counter).attr("class", "row")
      .append($("<td>").append($("<span>").html("<b>" + (counter + 1) + "</b>")))
    {% for unitname in unitnames %}
      .append(
      $("<td>").append(
        $("<img>").attr("src", "{{ innocdn_url('/graphic/unit/unit_'+unitname+'.png') }}")
      )
        .append(
          $("<input>").attr("id", "unit_input_{{ unitname }}_" + counter).attr("type", "text").attr("style", "width: 40px").attr("name", "{{ unitname }}_" + counter)
        )
    )
    {% endfor %}
      .append(options_container)
      .insertAfter($(".row", outer_table).last());
    $("#submit_button").val(parseInt($("#submit_button").val()) + 1)
  }
  $(function () {
    addRow();
  });
</script>
{% endblock %}
{% block content %}
<table>
  <tr>
    <td><b>Startdorf:</b></td>
    <td>
      <a href="https://{{action.domain}}/game.php?screen=map&x={{ action.source_coord.x }}&y={{ action.source_coord.y }}&beacon"
        rel="noreferrer">
        <img src="{{ innocdn_url('/graphic/icons/map2.png') }}">
      </a>
      <a href="https://{{action.domain}}/game.php?screen=info_village&id={{action.source_id}}" rel="noreferrer">
        {{ action.source_village_name }} {{ action.source_coord.x }}|{{ action.source_coord.y }}
      </a>
    </td>
  </tr>
  <tr>
    <td><b>Zieldorf:</b></td>
    <td>
      <a href="https://{{action.domain}}/game.php?screen=map&x={{ action.target_coord.x }}&y={{ action.target_coord.y }}&beacon"
        rel="noreferrer">
        <img src="{{ innocdn_url('/graphic/icons/map2.png') }}">
      </a>
      <a href="https://{{action.domain}}/game.php?screen=info_village&id={{action.target_id}}" rel="noreferrer">
        {{ action.target_village_name }} {{ action.target_coord.x }}|{{ action.target_coord.y }}
      </a>
    </td>
  </tr>
  <tr>
    <td><b>Abschickzeit:</b></td>
    <td>{{ action.departure_time }}</td>
  </tr>
  <tr>
    <td><b>Ankunftszeit:</b></td>
    <td>{{ action.arrival_time }}</td>
  </tr>
</table>
<form class="" action="" method="post">
  <h2>Angriffe hinzufügen</h2>
  <table class="table" id="outer_table">
    <tr>
      <th>Nummer</th>
      <th>Truppen</th>
      <th>Aktionen</th>
    </tr>
    <tr class="row" id="row_0">
      <td><b>1</b></td>
      {% for unitname in unitnames %}
      <td width="70px" align="right">
        <span class="badge alert-success" title="{{unitname}}">{{action.units[unitname]}}<img
            src="{{ innocdn_url('/graphic/unit/unit_' + unitname + '.png') }}"></span>
      </td>
      {% endfor %}
      <td>
        <span>ok</span>
      </td>
    </tr>
  </table>
  <a href="javascript:addRow()">Weiteren Angriff hinzufügen</a><br>
  <button type="submit" name="type" value="0" id="submit_button">Angriffe Übernehmen</button>
</form>
{% endblock %}