{% extends "layout.html" %}
{% block title %}Incomings{% endblock %}
{% block content %}
<table class="table">
    <tr>
        <th>Angriffs-ID</th>
        <th>Name</th>
        <th>Ziel</th>
        <th>Herkunft</th>
        <th>Spieler</th>
        <th>Entfernung</th>
        <th>Ankunft</th>
        <th>Template</th>
    </tr>
    {% for inc in incs %}
    <tr>
        <td class="col-md-1">{{ inc.inc_id }}</td>
        <td class="col-md-1">
            {% if inc.size %}
            <img src="{{innocdn_url('/graphic/command/attack' + ('_'+inc.size if inc.size != 'default') + '.png')}}">
            {% endif %}
            {% if inc.unit_symbol %}
            <img src="{{innocdn_url('/graphic/command/' + inc.unit_symbol + '.png')}}">
            {% endif %}
            {{ inc.name }}
        </td>
        <td class="col-md-2">{{ inc.target_village_name }}</td>
        <td class="col-md-2">{{ inc.source_village_name }}</td>
        <td class="col-md-2">{{ inc.source_player_name }}</td>
        <td class="col-md-1">{{ inc.distance }}</td>
        <td class="col-md-3">{{ inc.get_arrival_string() }}</td>
        <td class="col-md-1">
            {% if inc.template %}
            <span class="badge alert-success">{{ inc.template.name }}</span>
            {% else %}
            <span class="badge alert-warning">Ignoriert</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}