{% extends "layout.html" %}
{% block title %}Schedule{% endblock %}
{% block header %}
<script type="text/javascript">
  function createEditInterface(id) {
    var row = $("#row_" + id);
    $("td.departure_time", row).append($("<br>")).append($("<input>").attr("name", "departure_time").attr("type", "datetime-local").attr("style", "width: 160px").val(function () {
      var text = $("td.departure_time", row).text();
      if (text.split(".").length > 1) {
        return text.substring(0, text.length - 3);
      }
      return text
    }));
    $("td.arrival_time", row).append($("<br>")).append($("<input>").attr("name", "arrival_time").attr("type", "datetime-local").attr("style", "width: 160px").val(function () {
      var text = $("td.arrival_time", row).text();
      if (text.split(".").length > 1) {
        return text.substring(0, text.length - 3);
      }
      return text
    }));

  }
</script>
{% endblock %}
{% block content %}

{% for name in player %}
<h2>{{name}}</h2>
<table class="table">
  <tr>
    <th><a href="/schedule?player={{name}}&sort=player&reverse={{rev}}">Spieler</a></th>
    <th><a href="/schedule?player={{name}}&sort=departure_time&reverse={{rev}}">Abschicken</a></th>
    <th><a href="/schedule?player={{name}}&sort=arrival_time&reverse={{rev}}">Ankunft</a></th>
    <th></th>
    <th></th>
    <th><a href="/schedule?player={{name}}&sort=source_coord&reverse={{rev}}">Start</a></th>
    <th><a href="/schedule?player={{name}}&sort=target_coord&reverse={{rev}}">Ziel</a></th>
    <th>Einheiten</th>
    <th>Gebäude</th>
    <th>
      <form action="" method="post">
        <button type="submit" name="type" value="delete__all" class="btn btn-default">Löschen</button>
      </form>
    </th>
  </tr>
  {% for action in actions %}
  {% if name == action.player %}
  <tr id="row_{{action.id}}">
    <td><a href="https://{{ action.domain }}/game.php" rel="noreferrer"><span class="badge">{{action.world }}</span></a>
      {{ action.player }}</td>
    <td class="departure_time">{{ action.departure_time }}</td>
    <td class="arrival_time">{{ action.arrival_time }}</td>
    <td>
      {% if action.type == "attack" %}
      <img src="{{innocdn_url('/graphic/command/' + action.type + action.size + '.png')}}">
      {% else %}
      <img src="{{innocdn_url('/graphic/command/' + action.type + '.png')}}">
      {% endif %}
    </td>
    <td class="force">{% if action.force %}force!{% endif %}</td>
    <td class="source">
      <a href="https://{{action.domain}}/game.php?screen=map&x={{ action.source_coord.x }}&y={{ action.source_coord.y }}&beacon"
        rel="noreferrer">
        <img src="{{ innocdn_url('/graphic/icons/map2.png') }}">
      </a>
      <a href="https://{{action.domain}}/game.php?screen=info_village&id={{action.source_id}}" rel="noreferrer">
        {{ action.source_village_name }} {{ action.source_coord.x }}|{{ action.source_coord.y }}
      </a>
    </td>
    <td class="target">
      <a href="https://{{action.domain}}/game.php?screen=map&x={{ action.target_coord.x }}&y={{ action.target_coord.y }}&beacon"
        rel="noreferrer">
        <img src="{{ innocdn_url('/graphic/icons/map2.png') }}">
      </a>
      <a href="https://{{action.domain}}/game.php?screen=info_village&id={{action.target_id}}" rel="noreferrer">
        {{ action.target_village_name }} {{ action.target_coord.x }}|{{ action.target_coord.y }}
      </a>
    </td>
    <td class="units">
      {% for unit, amount in action.units|dictsort %}
      <span class="badge alert-success" title="{{unit}}">{{ amount }} <img
          src="{{ innocdn_url('/graphic/unit/unit_' + unit + '.png') }}"></span>
      {% endfor %}
    </td>
    <td>
      {% if "catapult" in action.units and action.building != "default" %}
      <span class="badge alert-success" title="{{ action.building }}"><img
          src="{{ innocdn_url('/graphic/buildings/' + action.building + '.png') }}" alt="{{ action.building }}"></span>
      {% endif %}
    </td>
    <td>
      <form action="" method="post">
        <button type="submit" name="type" value="delete_{{action.id}}" class="btn btn-default">Löschen</button>
        <button type="submit" name="type" value="edit_{{action.id}}" class="btn btn-default">Edit</button>
      </form>
      <!--
                <button onclick="createEditInterface('{{ action.id }}')" type="submit" name="type" value="edit_{{action.id}}" class="btn btn-default">Edit</button>
                -->
    </td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
{% endfor %}
{% endblock %}