{% extends "layout.html" %}
{% block title %}Schedule{% endblock %}
{% block content %}
    {% for name in player %}
    <h2>{{name}}</h2>
    <table class="table">
        <tr>
            <th><a href="/schedule?player={{name}}&sort=player">Spieler</a></th>
            <th><a href="/schedule?player={{name}}&sort=departure_time">Abschicken</a></th>
            <th><a href="/schedule?player={{name}}&sort=arrival_time">Ankunft</a></th>
            <th></th>
            <th><a href="/schedule?player={{name}}&sort=source_coord">Start</a></th>
            <th><a href="/schedule?player={{name}}&sort=target_coord">Ziel</a></th>
            <th>Einheiten</th>
            <th></th>
        </tr>
        {% for action in actions %}
            {% if name == action.player %}
        <tr>
            <td><a href="https://{{ action.domain }}/game.php" rel="noreferrer"><span class="badge">{{action.world }}</span></a> {{ action.player }}</td>
            <td>{{ action.departure_time }}</td>
            <td>{{ action.arrival_time }}</td>
            <td><img src="{{innocdn_url('/graphic/command/' + action.type + '.png')}}"></td>
            <td>
                <a href="https://{{action.domain}}/game.php?screen=map&x={{ action.source_coord.x }}&y={{ action.source_coord.y }}&beacon" rel="noreferrer">
                    <img src="{{ innocdn_url('/graphic/icons/map2.png') }}">
                </a>
                <a href="https://{{action.domain}}/game.php?screen=info_village&id={{action.source_id}}" rel="noreferrer">
                    {{ action.source_coord.x }}|{{ action.source_coord.y }}
                </a>
            </td>
            <td>
                <a href="https://{{action.domain}}/game.php?screen=map&x={{ action.target_coord.x }}&y={{ action.target_coord.y }}&beacon" rel="noreferrer">
                    <img src="{{ innocdn_url('/graphic/icons/map2.png') }}">
                </a>
                <a href="https://{{action.domain}}/game.php?screen=info_village&id={{action.target_id}}" rel="noreferrer">
                    {{ action.target_coord.x }}|{{ action.target_coord.y }}
                </a>
            </td>
            <td>
                {% for unit, amount in action.units|dictsort %}
                    <span class="badge alert-success" title="{{unit}}">{{ amount }} <img src="{{ innocdn_url('/graphic/unit/unit_' + unit + '.png') }}"></span>
                {% endfor %}
            </td>
            <td>
                <form action="" method="post">
                    <button type="submit" name="type" value="delete_{{action.id}}" class="btn btn-default">Löschen</button>
                </form>
            </td>
        </tr>
           {% endif %}
        {% endfor %}
    </table>
    {% endfor %}
{% endblock %}
