{% extends "layout.html" %}
{% block title %}Schedule{% endblock %}
{% block header %}
<script type="text/javascript">

</script>
{% endblock %}
{% block content %}

<form method="post">
<table class="table">
  <tr>
    <th><a href="/schedule">Spieler</a></th>
    <th><a href="/schedule">Abschicken</a></th>
    <th><a href="/schedule">Ankunft</a></th>
    <th></th>
    <th></th>
    <th><a href="/schedule">Start</a></th>
    <th><a href="/schedule">Ziel</a></th>
    <th>Einheiten</th>
    <th>Gebäude</th>
    <th>Status</th>
    <th>Edit</th>
    <th>
      <button type="submit" name="type" value="delete__all" class="btn btn-default">Alle</button>
      <button type="submit" name="type" value="delete__selected" class="btn btn-default">Auswahl</button>
    </th>
  </tr>
  {% for attack in attacks %}
  <tr id="row_{{attack.id}}">
    <td><a href="https://{{ attack.player.domain }}/game.php" rel="noreferrer"><span class="badge">{{attack.player.domain.split(".")[0] }}</span></a>
      {{ attack.player.name }}</td>
    <td class="departure_time">{{ attack.departure_time }}</td>
    <td class="arrival_time">{{ attack.arrival_time }}</td>
    <td><img src="{{innocdn_url('/graphic/command/' + attack.type + '.png')}}"></td>
    <td class="force">{% if attack.force %}force!{% endif %}</td>
    <td class="source">
      <a href="https://{{attack.player.domain}}/game.php?screen=map&x={{ attack.source_coord_x }}&y={{ attack.source_coord_y }}&beacon"
        rel="noreferrer">
        <img src="{{ innocdn_url('/graphic/icons/map2.png') }}">
      </a>
      <a href="https://{{attack.player.domain}}/game.php?screen=info_village&id={{attack.source_id}}" rel="noreferrer">
        {{ attack.source_name }} {{ attack.source_coord_x }}|{{ attack.source_coord_y }}
      </a>
    </td>
    <td class="target">
      <a href="https://{{attack.player.domain}}/game.php?screen=map&x={{ attack.target_coord_x }}&y={{ attack.target_coord_y }}&beacon"
        rel="noreferrer">
        <img src="{{ innocdn_url('/graphic/icons/map2.png') }}">
      </a>
      <a href="https://{{attack.player.domain}}/game.php?screen=info_village&id={{attack.target_id}}" rel="noreferrer">
        {{ attack.target_name }} {{ attack.target_coord_x }}|{{ attack.target_coord_y }}
      </a>
    </td>
    <td class="units">
      {% for unit, amount in attack.get_units()|dictsort %}
      <span class="badge alert-success" title="{{unit}}">{{ amount }} <img
          src="{{ innocdn_url('/graphic/unit/unit_' + unit + '.png') }}"></span>
      {% endfor %}
    </td>
    <td>
      {% if "catapult" in attack.get_units() and attack.building != "default" %}
      <span class="badge alert-success" title="{{ attack.building }}"><img
          src="{{ innocdn_url('/graphic/buildings/' + attack.building + '.png') }}" alt="{{ attack.building }}"></span>
      {% endif %}
    </td>
    <td>
      <span class="badge alert-{% if attack.status == 'scheduled' %}primary{% elif attack.status == 'finished'%}success{% elif attack.status == 'pending'%}warning{% else %}danger{% endif %}">{{ attack.status }}</span>
      {% if attack.incs.first() %}
        <a href="/edit_inc/{{ attack.incs.first().id }}"><span class="badge alert-warning">evac</span></a>
      {% endif %}
    </td>
    <td>
      <button type="submit" name="type" value="edit_{{attack.id}}" class="btn btn-default">Edit</button>
    </td>
    <td>
      <button type="submit" name="type" value="delete_{{attack.id}}" class="btn btn-default">Löschen</button>
      <input type="checkbox" name="delete" value="{{attack.id}}">
    </td>
  </tr>
  <tr style="display: none;">
    <td>
      hey
    </td>
  </tr>
  {% endfor %}
</table>
</form>
{% endblock %}