{% extends "layout.html" %}
{% block title %}Templates{% endblock %}
{% block header %}
<script type="text/javascript">
    function edit_template(id) {
        $(".unit.id-"+id).each(function(){
            $(".new_unit."+this.title).val(this.textContent)
        });
        $("#new_template_name").val($(".name.id-"+id).text());
        $("#new_template_submit").val("edit_template_"+id)
        $(".template-row").each(function() {
            $(this).css("background-color", "white")
        })
        $(".template-row.id-"+id).css("background-color", "#d5d8dc")
    }
  </script>
{% endblock %}
{% block content %}

<h2>Vorlagen verwalten</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Truppen</th>
        <th>Aktionen</th>
    </tr>
    <tr>
    <form action="" method="post">
        <td>
            <input type="text" style="width: 60px" name="new_template_name" id="new_template_name" value="{{ current_name }}">
        </td>
        <td>
            <table>
                <tr>
                    {% for unitname in unitnames %}
                    <td width="70px" align="right">
                        <img src="{{ innocdn_url('/graphic/unit/unit_' + unitname + '.png') }}">
                        <input type="text" style="width: 40px" name="new_template_unit_{{unitname}}" class="new_unit {{unitname}}" value="{{ current_units[unitname] }}">
                    </td>    
                    {% endfor %}
                </tr>
                
            </table>
        </td>
        <td>
            <button id="new_template_submit" type="submit" name="type" value="new_template" class="btn btn-default">Speichern</button>
        </td>
        
    </tr>
    </form>
    {% for template in templates%}
    <tr class="template-row id-{{template.id}}">
        <td><span class="{% if template.is_default %}badge alert-success {% endif %}name id-{{template.id}}"><b>{{ template.name }}</b></span></td>
        <td>
            <table>
                <tr>
                    {% for unitname in unitnames %}
                    <td width="70px" align="right">
                        <span class="badge alert-success unit id-{{template.id}}" title="{{unitname}}">{{template.get_units()[unitname]}}<img
                                src="{{ innocdn_url('/graphic/unit/unit_' + unitname + '.png') }}"></span>
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </td>
        <td>
            <form action="" method="post">
                <button type="submit" name="type" value="delete_{{template.id}}"
                    class="btn btn-default">Löschen</button>
                <button type="button" onclick="edit_template({{template.id}})"
                    class="btn btn-default">Edit</button>   
                <br>
                <button type="submit" name="type" value="set-default_{{template.id}}"
                    class="btn btn-default">Als Standard setzen</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}