{% extends "layout.html" %}
{% block title %}Workbench - Import{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger">
    <strong>Import fehlgeschlagen!</strong> {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form action="" method="post">
    <div class="form-group">
        <label for="text">WB-Befehle oder WB-Vorlagen einfügen:</label>
        <textarea rows="20" id="text" name="text" class="form-control">{{ request.args.text }}</textarea><br>
        <label for="playername">Spielername (richtig schreiben..)</label>
        <input id="playername" name="playername" type="text"><br><br>
    </div>
    <button type="submit" name="type" value="wb_action" class="btn btn-default">WB-Angriffe importieren</button>
</form>
{% endblock %}
